*{
    margin: 0px;
    padding: 0px;
}

.clg_name{
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}